<div class="btn-group dropdown" ng-class="{'open': isOpen}">
    <button type="button" class="btn btn-default btn-filter dropdown-toggle" ng-class="{'btn-info': anySelected(), 'no-selection': !anySelected()}" ng-click="toggleDropdown()">
        <span class="fa fa-filter"></span>
        <span ng-if="anySelected()">{{selectionCount()}}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-form scrollable-menu" ng-style="{display: isOpen ? 'block' : 'none'}">
        <li>
            <a href="" ng-click="toggleAll(true)">Select All</a>
        </li>
        <li>
            <a href="" ng-click="toggleAll(false)">Unselect All</a>
        </li>
        <li class="divider"></li>
        <li ng-repeat="option in options" ng-class="{'active': option.selected}" ng-click="toggleOption(option)">
            <a href="">
                <span class="fa fa-lg" ng-class="{'fa-check-square-o': option.selected, 'fa-square-o': !option.selected}"></span> {{option.name}}
            </a>
        </li>
    </ul>
</div>