<div class="btn-group" uib-dropdown ng-show="students.getSelectedStudentCount() > 0">
    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        {{students.getSelectedStudentCount()}} Selected <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu>
        <li><a href="#">Mark eligible</a></li>
        <li><a href="#">Mark ineligible</a></li>
        <li><a href="#">Add to route...</a></li>
    </ul>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="students.toggleAllStudents()" ng-model="students.selectAllChecked">
                    </label>
                </div>
            </th>
            <th>
                <span ng-class="{'sort-col': students.isCurrentSort('lastname')}" ng-click="students.sort('lastname')">Last Name
                    <span class="fa sort-arrow" ng-class="{'fa-sort-asc': students.isCurrentSort('lastname', false), 'fa-sort-desc': students.isCurrentSort('lastname', true)}"></span>
                </span>
            </th>
            <th>
                <span ng-class="{'sort-col': students.isCurrentSort('firstname')}" ng-click="students.sort('firstname')">First Name
                    <span class="fa" ng-class="{'fa-sort-asc': students.isCurrentSort('firstname', false), 'fa-sort-desc': students.isCurrentSort('firstname', true)}"></span>
                </span>
            </th>
            <th>
                <span ng-class="{'sort-col': students.isCurrentSort('school')}" ng-click="students.sort('school')">School
                    <span class="fa" ng-class="{'fa-sort-asc': students.isCurrentSort('school', false), 'fa-sort-desc': students.isCurrentSort('school', true)}"></span>
                </span>
                <multi-select-filter msf-options="students.availableSchools" msf-on-close="students.filterStudents()"></multi-select-filter>
            </th>
            <th>
                <span ng-class="{'sort-col': students.isCurrentSort('grade')}" ng-click="students.sort('grade')">Grade
                    <span class="fa" ng-class="{'fa-sort-asc': students.isCurrentSort('grade', false), 'fa-sort-desc': students.isCurrentSort('grade', true)}"></span>
                </span>
                <multi-select-filter msf-options="students.availableGrades" msf-on-close="students.filterStudents()"></multi-select-filter>
            </th>
            <th>
                <span ng-class="{'sort-col': students.isCurrentSort('eligibility')}" ng-click="students.sort('eligibility')">Eligible
                    <span class="fa" ng-class="{'fa-sort-asc': students.isCurrentSort('eligibility', false), 'fa-sort-desc': students.isCurrentSort('eligibility', true)}"></span>
                </span>
                <multi-select-filter msf-options="students.availableEligibility" msf-on-close="students.filterStudents()"></multi-select-filter>
            </th>
            <th>
                <span ng-class="{'sort-col': students.isCurrentSort('assignedroutes')}" ng-click="students.sort('assignedroutes')">Assigned Routes
                    <span class="fa" ng-class="{'fa-sort-asc': students.isCurrentSort('assignedroutes', false), 'fa-sort-desc': students.isCurrentSort('assignedroutes', true)}"></span>
                </span>
                <multi-select-filter msf-options="students.availableRoutes"></multi-select-filter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in students.students" ng-click="students.selectStudent(student)" blur-on-click ng-class="{'active' : student.selected }">
            <td><input type="checkbox" ng-checked="student.selected"></td>
            <td>{{student.lastName}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.school.name}}</td>
            <td>{{student.grade.name}}</td>
            <td><i class="fa" ng-class="{'fa-times': !student.eligible, 'fa-check': student.eligible}"></i></td>
            <td>
                <button uib-popover-template="'views/routesPopupTemplate.html'" popover-is-open="student.assignedRoutes.show" popover-placement="right"
                popover-trigger="'outsideClick'" popover-append-to-body="true" type="button" class="btn btn-info" ng-click="students.hideAllPopups(); $event.stopPropagation();">
                    {{student.assignedRoutes.routes.length}} <i class="fa fa-map-marker" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<multiselect ng-model="poop" options="students.availableSchools" id-prop="id" display-prop="name">
</multiselect>