<button class="btn btn-primary pull-right" ng-click="$ctrl.updateStudents()" ng-disabled="$ctrl.selectionCount() < 2">
    Bulk Update
    <span ng-show="$ctrl.selectionCount() > 1">({{$ctrl.selectionCount()}}) <i class="fa fa-chevron-right"></i></span>
</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-2" ng-class="{'sort-col-header': $ctrl.isCurrentSort('lastname')}">
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-lg" ng-class="{'fa-check-square': $ctrl.allSelected(), 'fa-square-o': $ctrl.noneSelected(), 'fa-minus-square': $ctrl.someNotAllSelected()}" ng-click="$ctrl.toggleAllStudents()" ng-model="$ctrl.selectAllChecked"></i>
                    </div>
                    <div class="col-md-10">
                        <span ng-click="$ctrl.sort('lastname')">Last Name
                            <span class="fa fa-fw fa-sort" ng-class="{'fa-sort-asc': $ctrl.isCurrentSort('lastname', false), 'fa-sort-desc': $ctrl.isCurrentSort('lastname', true)}"></span>
                        </span>
                    </div>
                </div>
            </th>
            <th class="col-md-2" ng-class="{'sort-col-header': $ctrl.isCurrentSort('firstname')}">
                <span ng-click="$ctrl.sort('firstname')">First Name
                    <span class="fa fa-fw fa-sort" ng-class="{'fa-sort-asc': $ctrl.isCurrentSort('firstname', false), 'fa-sort-desc': $ctrl.isCurrentSort('firstname', true)}"></span>
                </span>
            </th>
            <th class="col-md-2" ng-class="{'sort-col-header': $ctrl.isCurrentSort('school')}">
                <multi-select-filter msf-options="$ctrl.availableSchools" msf-on-close="$ctrl.filterStudents()"></multi-select-filter>
                <span ng-click="$ctrl.sort('school')">School
                    <span class="fa fa-fw fa-sort" ng-class="{'fa-sort-asc': $ctrl.isCurrentSort('school', false), 'fa-sort-desc': $ctrl.isCurrentSort('school', true)}"></span>
                </span>
            </th>
            <th class="col-md-2" ng-class="{'sort-col-header': $ctrl.isCurrentSort('grade')}">
                <multi-select-filter msf-options="$ctrl.availableGrades" msf-on-close="$ctrl.filterStudents()"></multi-select-filter>
                <span ng-click="$ctrl.sort('grade')">Grade
                    <span class="fa fa-fw fa-sort" ng-class="{'fa-sort-asc': $ctrl.isCurrentSort('grade', false), 'fa-sort-desc': $ctrl.isCurrentSort('grade', true)}"></span>
                </span>
            </th>
            <th class="col-md-2">
                <multi-select-filter msf-options="$ctrl.availableTags" msf-on-close="$ctrl.filterStudents()"></multi-select-filter>
                <span>Tags</span>
            </th>
            <th class="col-md-2">
                <multi-select-filter msf-options="$ctrl.availableRoutes"></multi-select-filter>
                <span>Assigned Routes</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in $ctrl.students" ng-click="$ctrl.selectStudent(student)" ng-class="{'active selected' : student.selected }">
            <td>
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-lg" ng-class="{'fa-check-square': student.selected, 'fa-square-o': !student.selected}"></i></div>
                    <div class="col-md-10">{{student.lastName}}</div>
                </div>
            </td>
            <td>{{student.firstName}}</td>
            <td>{{student.school.name}}</td>
            <td>{{student.grade.name}}</td>
            <td><tag-component ng-repeat="tag in student.tags" tc-data="{tagName: tag.name, objectName: student.firstName + ' ' + student.lastName}" tc-on-remove="$ctrl.removeTag(tag, student)"></tag-component></td>
            <td>
                <button uib-popover-template="'views/routesPopupTemplate.html'" popover-is-open="student.assignedRoutes.show" popover-placement="right"
                popover-trigger="'outsideClick'" popover-append-to-body="true" type="button" class="btn btn-info" ng-click="$ctrl.hideAllPopups(); $event.stopPropagation();">
                    {{student.assignedRoutes.routes.length}} <i class="fa fa-map-marker" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-primary">Select <i class="fa fa-chevron-right"></i> </button>
            </td>
        </tr>
    </tbody>
</table>