.btn-filter {
    font-size: 12px;
    padding: 2px 4px;
}

.btn-filter.no-selection {
    border-color: transparent;
    background-color: transparent;
}

.btn-filter.no-selection:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

li a.selected {
  font-weight: bold;
}

.sort-col-header {
    border-bottom: 3px solid #46b8da !important;
}

:focus {
    outline: 0;
}

.container {
    max-width: 1200px !important;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.tag {
    margin: 2px;
    cursor: default;
}