.btn-filter {
    font-size: 12px;
    padding: 2px 4px;
}

.btn-filter.no-selection {
    border-color: transparent;
    background-color: transparent;
}

.sort-col-header {
    border-bottom: 4px solid #46b8da !important;
}

:focus {
    outline: 0;
}