.btn-filter {
    font-size: 12px;
    padding: 2px 4px;
    border-color: transparent;
    background-color: transparent;
}

.btn-filter:focus {
    background-color: transparent;
    border-color: transparent;
}